---
http_interactions:
- request:
    method: get
    uri: https://qrng.anu.edu.au/API/jsonI.php?length=1&type=uint8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"type":"uint8","length":1,"data":[194],"success":true}

'
  recorded_at: Sun, 22 May 2016 22:56:38 GMT
recorded_with: VCR 3.0.3
